<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.test.botom_nav_test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".Baskets.TanorestanBasket.TanorestanGetUserDataActivity"></activity>
        <activity android:name=".Baskets.TanorestanBasket.TanorestanBasket" />
        <activity android:name=".Baskets.TanorestanBasket.TanorestanProDetalesActivity" />
        <activity android:name=".MainMenuActivitys.JashnvareActivity" />
        <activity android:name=".MainMenuActivitys.MahsolatDehkadeActivity" /> <!-- <activity android:name=".KaridmiveDetailActivity" /> -->
        <activity android:name=".GardeshGariSubActivity.GardeshGariListLocActivity" />
        <activity android:name=".MainMenuActivitys.AmzshQazaMahaliActivity" />
        <activity android:name=".MainMenuActivitys.KhorNewsActivity" />
        <activity android:name=".MainMenuActivitys.KaridMiveTazeActivity_newUI" />
        <activity android:name=".MainMenuActivitys.TelefonZaroryActivity" />
        <activity android:name=".MainMenuActivitys.CartvisitActivity" />
        <activity android:name=".MainMenuActivitys.TabiatActivity" />
        <activity android:name=".MainMenuActivitys.KdmtKshvrziActivity" />
        <activity android:name=".AgahiSubActivitys.ForoshKalaDastDoActivity" />
        <activity android:name=".AgahiSubActivitys.HarajiActivity" />
        <activity android:name=".AgahiSubActivitys.TabliqatActivity" />
        <activity android:name=".AgahiSubActivitys.EtelaShoraDehyarActivity" />
        <activity android:name=".SefareshgozariSubActivitys.WebBasketActivity" />
        <activity android:name=".ShoraDehyariSubActivitys.DehyariActivity" />
        <activity android:name=".ShoraDehyariSubActivitys.ShoraActivity" />
        <activity android:name=".SefareshgozariSubActivitys.SefareshBasket" />
        <activity android:name=".ApardaktSubActivitys.QrCodeActivity" />
        <activity android:name=".SefareshgozariSubActivitys.SefareshProDetail" />
        <activity android:name=".TestingAPI.SoranApiTest" />
        <activity android:name=".MainMenuActivitys.VazayfDarkastActivity" />
        <activity android:name=".MainMenuActivitys.HavashenasiActivity" />
        <activity android:name=".MainMenuActivitys.MaharatActivity" />
        <activity android:name=".MainMenuActivitys.AmaliatPardaktActivity" />
        <activity android:name=".LoginSigninActivitys.AdminSigninActivity" />
        <activity android:name=".SettingsActivity.SettingsActivity" />
        <activity android:name=".MainMenuActivitys.HiperMarketActivity" />
        <activity android:name=".LoginSigninActivitys.AdminLoginActivity" />
        <activity android:name=".SettingsSubActivitys.TamasDerjeActivity" />
        <activity android:name=".MainMenuActivitys.ListAlayeqActivity" />
        <activity android:name=".MainMenuActivitys.ShoraDehyariActivity" />
        <activity android:name=".MainMenuActivitys.KaridMiveActivity" />
        <activity android:name=".MainMenuActivitys.RizkharidActivity" />
        <activity android:name=".MainMenuActivitys.AgahiActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreen.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>